/.DS_Store
/.RDataTmp
/.Rhistory
/.ipynb_checkpoints
/.venv
/403Project.Rmd
/FT10.txt
/__pycache__
/anaconda_projects
/ft_histogram.png
/data/gene_model.gff
/data/genotype.csv
/plots.tex
/data/processed.csv
data/.DS_Store
*.pyc
/plot_images